@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.post {
  position: relative;
  z-index: 10;

  border-radius: 8px;
  background-color: $background-comment-color;

  @include media(mobile-tablet) {
    padding: 25px;
  }

  @include media(tablet) {
    padding: 32px;

    box-shadow: 0px 30px 60px rgba(21, 10, 51, 0.09);
  }
}

.post__title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;

  color: $text-comment-color;
}

.post__title-edit {
  outline: none;
  width: 95%;
}

.post__body {
  margin-bottom: 16px;

  font-style: italic;
  font-size: 14px;
  line-height: 1.71;

  color: $text-comment-color;
}

.post__button-list {
  display: flex;
  gap: 30px;
}

.post__comments-button {
  color: $brand-blue-color;
}

.post_comment-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post_comment-item {
  display: flex;
}

.post_comment {
  width: 350px;
  background-color: $gray_20-color;
}
