@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  @include media(tablet) {
    gap: 10px;
  }
}
