@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.all-the-world {
  padding: 45px 0 60px 0;

  @include media(tablet) {
    padding: 130px 0 160px 0;
    text-align: center;
  }
}

.all-the-world__text {
  font-weight: 600;
  text-transform: uppercase;

  color: $brand-blue-color;

  @include media(mobile-tablet) {
    margin-bottom: 12px;
    text-align: center;

    font-size: 12px;
    line-height: 1.5;

    letter-spacing: 0.06em;
  }

  @include media(tablet) {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.08em;
  }
}

.all-the-world__title {
  font-weight: 700;

  @include media(mobile-tablet) {
    margin-bottom: 32px;
    text-align: center;

    font-size: 18px;
    line-height: 1.33;
  }

  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.all-the-world__description {
  color: $gray_60-color;

  &--margin {
    display: block;
  }

  @include media(mobile-tablet) {
    margin-bottom: 48px;
    text-align: center;

    font-size: 12px;
    line-height: 1.42;
  }

  @include media(tablet) {
    margin-bottom: 122px;

    font-size: 18px;
    line-height: 1.33;
  }
}

.all-the-world__icon {
  width: 100%;
}
