@import "src/shared/styles/variables.scss";

.stages-development {
  position: relative;

  padding: 80px 0 600px 0;
}

.stages-development__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.44;

  margin-bottom: 24px;

  color: $brand-black-color;
}

.stages-development__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 104px;

  color: $gray_60-color;
}

.stages-development__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 52px;

  margin-bottom: 80px;

  width: 770px;
}

.stages-development__item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.stages-development__icon-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;

  color: $brand-black-color;
}

.stages-development__button-label {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;

  margin-bottom: 32px;

  color: $brand-black-color;
}

.stages-development__chart {
  position: absolute;
  bottom: 75px;
  left: 0;

  width: 100%;
  z-index: -1;
}
