@import "src/shared/styles/variables.scss";

.input {
  padding: 14px 24px;
  width: 100%;

  border: 0;
  border-radius: 100px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;

  color: $text-white-color;
  background-color: $blue-input-bg-color;
}
