@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 60px 0;
}

.demo__title {
  text-align: center;

  font-weight: 700;

  color: $brand-black-color;

  @include media(mobile-tablet) {
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 1.33;
  }

  @include media(tablet) {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 1.44;
  }
}

.demo__button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include media(mobile-tablet) {
    margin-bottom: 16px;
  }

  @include media(tablet) {
    margin-bottom: 20px;
  }
}

.demo__button {
  width: 120px;
}

.demo__post-item:not(:last-child) {
  @include media(mobile-tablet) {
    margin-bottom: 16px;
  }

  @include media(tablet) {
    margin-bottom: 20px;
  }
}
