@import "src/shared/styles/variables.scss";

.about {
  padding: 40px 0 70px 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-bottom: 41px;
}
