$font-family: "Poppins", sans-serif;

//Brand Colors
$brand-blue-color: #3b2186;
$brand-yellow-color: #f2cf7e;
$brand-black-color: #2a2a38;
$brand-white-color: #d9d9d9;

$text-white-color: #ffffff;

//Expanded
$success-color: #74b566;
$info-color: #76bedb;
$warning-color: #e6af5f;
$error-color: #c95c54;

//Gray
$gray_80-color: #555560;
$gray_60-color: #7f7f88;
$gray_40-color: #aaaaaf;
$gray_20-color: #d4d4d7;
$gray_10-color: #eaeaeb;

//Content
$title-color: #222222;
$body-color: #444444;

//Line
$line-color: #ececec;

//Background
$yellow-light-color: #f9f5e6;
$blue-dark-color: #2b146c;
$footer-bg-color: #1e0c51;
$client-bg-color: #f4f0ff;

//Button
$blue-button-default-color: #6053b1;
$blue-button-focus-color: #2b1765;
$blue-button-disabled-color: #e0e0f2;

$yellow-button-color: #f2cf7e;
$yellow-button-focus-color: #e6c270;
$yellow-button-disabled-color: #fdf8ec;

$light-button-text-color: #ffffff;

//Input
$blue-input-bg-color: #3b2186;

//Platform extension
$desktop: 1728px;
$tablet: 768px;
$mobile: 320px;
