@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.restaurants-trust {
  background-color: $blue-dark-color;

  @include media(mobile-tablet) {
    padding: 24px 0;
  }

  @include media(tablet) {
    padding: 40px 0;
  }
}

.restaurants-trust__container {
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.restaurants-trust__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.66;

  letter-spacing: 0.16em;
  text-transform: uppercase;

  color: $text-white-color;

  @include media(mobile-tablet) {
    margin-bottom: 40px;
    text-align: center;
  }
}

.restaurants-trust__list {
  display: flex;

  @include media(mobile-tablet) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px 10px;
  }

  @include media(tablet) {
    gap: 50px;
  }
}
