@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.how-to-use {
  background-color: $yellow-light-color;

  @include media(mobile-tablet) {
    padding: 50px 0 55px 0;
  }

  @include media(tablet) {
    padding: 120px 0;
  }
}

.how-to-use__wrapper {
  @include media(tablet) {
    display: flex;
  }
}

.how-to-use__title {
  color: $brand-black-color;
  text-align: center;

  @include media(mobile-tablet) {
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }

  @include media(tablet) {
    margin-bottom: 100px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.44;
  }
}

.get-started {
  @include media(mobile-tablet) {
    margin-top: 30px;
  }

  @include media(tablet) {
    position: relative;
    width: 630px;
  }
}

.get-started::after {
  @include media(tablet) {
    content: "";
    position: absolute;
    left: -65px;
    top: 0px;

    height: 468px;

    border: 1px solid #e6e0cd;
  }
}

.get-started__list {
  @include media(mobile-tablet) {
    margin-bottom: 32px;
  }

  @include media(tablet) {
    display: flex;
    flex-direction: column;
    gap: 28px;

    margin-bottom: 52px;
  }
}

.get-started__item {
  display: flex;

  @include media(mobile-tablet) {
    gap: 12px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include media(tablet) {
    gap: 24px;
  }
}

.get-started__title {
  font-weight: 400;

  color: $brand-black-color;

  @include media(mobile-tablet) {
    font-size: 14px;
    line-height: 1.71;
  }

  @include media(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.how-to-use__button {
  @include media(mobile-tablet) {
    width: 100%;
  }

  @include media(tablet) {
    width: 173px;
  }
}
