@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.how-to-use {
  background-color: $yellow-light-color;

  @include media(mobile-only) {
    padding: 50px 0 55px 0;
  }

  @include media(desktop) {
    padding: 120px 0;
  }
}

.how-to-use__wrapper {
  @include media(desktop) {
    display: flex;
  }
}

.how-to-use__title {
  color: $brand-black-color;
  text-align: center;

  @include media(mobile-only) {
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }

  @include media(desktop) {
    margin-bottom: 100px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.44;
  }
}

.capabilities__list {
  @include media(desktop) {
    display: inline-flex;
    gap: 60px 136px;
    flex-wrap: wrap;
  }
}

.capabilities__item {
  position: relative;
  width: 264px;
}

.capabilities__item::before {
  content: counter(list-item);
  position: absolute;
  left: 150px;
  top: 0px;

  font-size: 160px;
  font-weight: 800;
  background: linear-gradient(#b3a985 0%, rgba(178, 169, 133, 0) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 0.4;

  @include media(desktop) {
    left: 200px;
    top: 0px;
  }
}

.capabilities__title {
  @include media(desktop) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $brand-black-color;
  }
}

.get-started {
  @include media(desktop) {
    position: relative;
    width: 630px;
  }
}

.get-started::after {
  @include media(desktop) {
    content: "";
    position: absolute;
    left: -65px;
    top: 0px;

    height: 468px;

    border: 1px solid #e6e0cd;
  }
}

.get-started__list {
  @include media(mobile-only) {
    margin-bottom: 32px;
  }

  @include media(desktop) {
    display: flex;
    flex-direction: column;
    gap: 28px;

    margin-bottom: 52px;
  }
}

.get-started__item {
  display: flex;

  @include media(mobile-only) {
    gap: 12px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include media(desktop) {
    gap: 24px;
  }
}

.get-started__title {
  font-weight: 400;

  color: $brand-black-color;

  @include media(mobile-only) {
    font-size: 14px;
    line-height: 1.71;
  }

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.how-to-use__button {
  @include media(mobile-only) {
    width: 100%;
  }

  @include media(desktop) {
    width: 173px;
  }
}
