@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.button-list {
  display: flex;

  @include media(mobile-only) {
    gap: 13px;
  }

  @include media(desktop) {
    gap: 16px;
  }
}
