@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.button-list {
  display: flex;

  @include media(mobile-tablet) {
    gap: 13px;
  }

  @include media(tablet) {
    gap: 16px;
  }
}

.button-list__button {
  width: 147px;
}
