@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.social-list__item {
  &:not(:last-child) {
    @include media(mobile-tablet) {
      margin-bottom: 12px;
    }

    @include media(tablet) {
      margin-bottom: 24px;
    }
  }
}

.social-list__link {
  font-weight: 400;
  text-decoration: none;

  color: $text-white-color;

  @include media(mobile-tablet) {
    font-size: 14px;
    line-height: 1.71;
  }

  @include media(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}
