@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.section-title {
  color: $brand-black-color;

  @include media(mobile-tablet) {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
  }

  @include media(tablet) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.44;
  }
}
