@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.home-hero {
  @include media(mobile-tablet) {
    padding: 60px 0;
    color: $brand-white-color;
  }

  @include media(tablet) {
    padding: 71px 0 110px 0;
    color: $brand-white-color;
  }
}

.home-hero__container {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.home-hero__wrapper {
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.home-hero__info-box {
  @include media(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 526px;
  }
}

.home-hero__title {
  @include media(mobile-tablet) {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;

    color: $brand-black-color;
  }

  @include media(tablet) {
    margin-bottom: 85px;

    font-weight: 700;
    font-size: 52px;
    line-height: 1.23;
  }
}

.home-hero__description {
  @include media(mobile-tablet) {
    margin-bottom: 32px;

    font-size: 12px;
    line-height: 1.66;

    color: $gray_60-color;
  }

  @include media(tablet) {
    margin-bottom: 52px;

    font-size: 14px;
    line-height: 1.71;
  }
}
.home-hero_button {
  @include media(mobile-tablet) {
    width: 100%;
    margin-bottom: 60px;
  }

  @include media(tablet) {
    min-width: 173px;
  }
}

.home-hero__image {
  @include media(mobile-tablet) {
    display: none;
  }
}
