@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.dashboard {
  @include media(mobile-tablet) {
    padding: 60px 0 30px 0;
  }

  @include media(tablet) {
    padding: 120px 0 80px 0;
  }
}

.dashboard__container {
  text-align: center;
}

.dashboard__sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $brand-blue-color;

  @include media(mobile-tablet) {
    margin-bottom: 12px;
  }

  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.dashboard__title {
  font-weight: 700;

  @include media(mobile-tablet) {
    margin-bottom: 12px;

    font-size: 18px;
    line-height: 1.33;
  }

  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.dashboard__description {
  font-weight: 400;

  color: $gray_60-color;

  @include media(mobile-tablet) {
    margin-bottom: 50px;

    font-size: 12px;
    line-height: 1.66;
  }

  @include media(tablet) {
    font-size: 18px;
    line-height: 1.33;
  }
}
