.features__title {
  margin-bottom: 22px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.features__list {
  display: flex;
  justify-content: flex-start;

  width: 740px;
  flex-wrap: wrap;
  gap: 5px 50px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features__sub-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
}

.features__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
}
