@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.client-background-color {
  background-color: $client-bg-color;

  &--height {
    @include media(desktop) {
      height: 870px;
    }
  }

  &--dark {
    background-color: $blue-dark-color;
    height: 265px;
  }
}
