@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.client-background-color {
  background-color: $client-bg-color;
  height: 1000px;

  &--dark {
    background-color: $blue-dark-color;
    height: 265px;
  }
}
