.header {
  padding-top: 40px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 67px;

  margin-right: 117px;
}
