@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.navigation {
  @include media(mobile-tablet) {
    position: fixed;
    top: 47px;
    left: 0;
    width: 100vw;

    background-color: $blue-dark-color;
  }

  @include media(tablet) {
    display: flex;
    align-items: center;
  }
}

.navigation__list {
  @include media(mobile-tablet) {
    text-align: center;
  }

  @include media(tablet) {
    display: flex;
    gap: 50px;
  }
}

.navigation__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  color: $brand-white-color;

  @include media(mobile-tablet) {
    display: block;
    padding: 16px;

    border-bottom: 1px solid #4a2f9b;
  }
}
