@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.footer {
  @include media(mobile-tablet) {
    padding: 48px 0 126px 0;
    background-color: $footer-bg-color;

    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
  }

  @include media(tablet) {
    padding: 120px 0 163px 0;
    background-color: $footer-bg-color;

    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
  }
}

.footer__container {
  @include media(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo-text {
  color: $text-white-color;

  @include media(mobile-tablet) {
    margin-top: 8px;
    margin-bottom: 36px;
  }

  @include media(tablet) {
    margin-top: 15px;
  }
}

.footer__wrapper {
  display: flex;

  @include media(mobile-tablet) {
    gap: 64px;
  }

  @include media(tablet) {
    gap: 115px;
  }
}

.footer__privacy-policy {
  display: block;
  color: $text-white-color;

  @include media(mobile-tablet) {
    margin-bottom: 49px;
  }
}
