@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.form {
  @include media(mobile-tablet) {
    width: 100%;
  }

  @include media(tablet) {
    width: 298px;
  }
}

.form__input--margin {
  margin-bottom: 16px;
}

.form__button {
  width: 100%;
}
