@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.home-background-color {
  @include media(mobile-tablet) {
    background-color: $yellow-light-color;
    height: 908px;
  }

  @include media(tablet) {
    background-color: $blue-dark-color;
    height: 1037px;
  }
}
