@import "src/shared/styles/variables.scss";
@import "src/shared/styles/mixin.scss";

.home-background-color {
  background-color: $blue-dark-color;
  height: 320px;

  &--height {
    @include media(desktop) {
      background-color: $blue-dark-color;
      height: 1037px;
    }
  }
}
