@import "src/shared/styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;

  border: none;
  border-radius: 50px;

  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  &:disabled {
    cursor: no-drop;
  }
}

.button--secondary {
  color: $light-button-text-color;
  background-color: $yellow-button-color;

  &:active {
    background-color: $yellow-button-focus-color;
  }

  &:disabled {
    background-color: $yellow-button-disabled-color;
    color: $yellow-button-color;
  }
}

.button--primary {
  color: $brand-white-color;
  background-color: $blue-button-default-color;

  &:active {
    background-color: $blue-button-focus-color;
  }

  &:disabled {
    background-color: $blue-button-disabled-color;
    color: $brand-white-color;
  }
}

.button--medium {
  padding: 14px 24px;
}

.button--small {
  padding: 8px 16px;
}

.button--circle {
  padding: 15px;
}
